* {
  padding: 0;
  font-family: roboto;
}
.container {
  width: 80vw;
  height: 80vh;
  background-color: bisque;
  position: relative;
}
.box {
  width: 62px;
  height: 62px;
  border-radius: 70px;
  background-color: red;
  bottom: 0;
  position: absolute;
   animation:animateY 1s ease-out infinite alternate, animateX 2s linear infinite;

}
/* this is one of the methids for bouncing the ball */
/* @keyframes bounce {

    0%{
        transform: translate(0,0);
    }
    10%{
        transform: translate(15px,-60px);
    }
    20%{
        transform: translate(30px,-90px);
    }
    30%{
        transform: translate(45px,-60px);
    }
    40%{
        transform: translate(60px,0);
    }
    50%{
        transform: translate(75px,-60px);
    }
    60%{
        transform: translate(90px,-90px);
    }
    70%{
        transform: translate(105px,-60px);
    }
    80%{
        transform: translate(120px,0);
    }
    90%{
        transform: translate(135px,-60px);
    }
    100%{
        transform: translate(150px,-90px);
    }
} 
*/

/* this is a easy way to actually bounce a ball */
@keyframes animateY {
  from {
    bottom: 0;
  }
  to {
    bottom: 100%;
  }
}
@keyframes animateX {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
